table
{
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
}

th, td
{
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
	max-width: 120px;
}

.main, .aside
{
	margin-bottom: 1em;
	padding: 0em;
	font: 12px sans-serif;
	position: absolute;
	top: 60px;
}

.left_bar {
    margin: 0;
    position: absolute;
    /* left: 0; */
    max-width: 285px;
    background-color: #fff;
    padding-top: 60px;
    padding-left:5px;
    padding-right:5px;
    border-bottom-right-radius: 15px;
    overflow: auto;
    max-height: 100%;
    top: 0px;
    display: block;
}

.right_bar {
	position: absolute;
    right: 0;
	max-width: 275px;
	max-height: 100%;
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 15px;
	padding-left: 15px;
	overflow: auto;
	padding-top: 20px;
}

.starter-template {
    padding-top: 6rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    text-align: center;
}

.bg-purple {
    background-color: #6f42c1;
}

.bg-left-block {
    background-color: #fbfbfb;
}

.profile {
    position: absolute;
    right: 10px;
}