<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    {% if title %}
    <title>Math KG - {{title}}</title>
    {% else %}
    <title>Math KG</title>
    {% endif %}

    <!-- import css files -->
    <style type="text/css">
        html, body {height:100%;margin:0;padding:0;}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gexfjs.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-1.10.3.custom.min.css')}}">
    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='favicon.png')}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- 引入 echarts.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/extension/dataTool.min.js"></script>

    <script type="text/javascript">
        // Fallback in case JQuery CDN isn't available
            if (typeof jQuery == 'undefined') {
                document.write(unescape("%3Cscript type='text/javascript' src='js/jquery-3.4.1.min.js'%3E%3C/script%3E"));
            }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.3.custom.min.js')}}"></script>

</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 90%; height: 90%; top: 60px; left: 100px"></div>
    <!-- <script src="simple-demo.js"></script> -->
    <script src="{{ url_for('static', filename='js/middle-school-json.js')}}"></script>
    <div class="aside right_bar" id="details" style="pointer-events:auto;">
        <div id="nodeInfo" style="pointer-events:auto;">
            <h2>Item Info</h2> 
            <table id="node info">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody id="node info tbody">
                    <!-- display node info here -->
                </tbody>
            </table>
        </div>				
    </div>
    <div class="aside left_bar" id="edit_graph_div" style="pointer-events: auto;"> 
        <h3>Add Node</h3>
        <form action="/editGraph", method="POST">
            Node name: <br>
            {{form_add_node.node_name}}
            <br>
            Category: <br>
            {{form_add_node.category}}
            <br>
            Label: <br>
            {{form_add_node.label}}
            <br><br>
            {{form_add_node.submit1}}
        </form>
        <h3>Delete Node</h3>
        <form action="/editGraph", method="POST">
            Node name: <br>
            {{form_delete_node.node_name}}
            <br><br>
            {{form_delete_node.submit2}}
        </form>
        <h3>Add Edge</h3>
        <form action="/editGraph", method="POST">
            Source name: <br>
            {{form_add_edge.source_name}}
            <br>
            Target name: <br>
            {{form_add_edge.target_name}}
            <br>
            Relationship: <br>
            {{form_add_edge.relationship}}
            <br><br>
            {{form_add_edge.submit3}}
        </form>
        <h3>Delete Edge</h3>
        <form action="/editGraph", method="POST">
            Source name: <br>
            {{form_delete_edge.source_name}}
            <br>
            Target name: <br>
            {{form_delete_edge.target_name}}
            <br><br>
            {{form_delete_edge.submit4}}
        </form>
    </div>
    <div id="titlebar">
        <div id="maintitle">
            <h1><a href={{url_for('static', filename='img/favicon.png')}} target="_blank" title="Math knowledge">new graph for math</a>search node</h1>
        </div>
        <form id="recherche">
            <input id="searchinput" class="grey" autocomplete="off" />
            <input id="searchsubmit" type="submit" />
        </form>
    </div>
    <ul id="autocomplete">
    </ul>
</body>
</html>

