{% extends "template.html" %}

{% block search %}
    <ul id="autocomplete">
    </ul>
{% endblock %}

{% block content %}
<div class = 'main'>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 89%; height: 90%; top: 60px; left: 200px"></div>
    <!-- <script src="simple-demo.js"></script> -->
    <script src="{{ url_for('static', filename='js/middle-school-json.js')}}"></script>
    
    <div class="right bar" id="details" style="pointer-events:auto;">
        <div class="content-section">
            <h4>Graph Summary</h4>
            <p>{{graph_info[0]}}</p>
            <p>{{graph_info[1]}}</p>
            <p>{{graph_info[2]}}</p>
        </div>
        <br>
        <div id="ItemInfo">
            <h2 id = "Info Title" style = "text-transform: capitalize"></h2>
            <table class="table" id="node info">
                <thead>
                    <tr id = 'Info Head'></tr>
                </thead>
                <tbody id="node info tbody">
                    <!-- display node info here -->
                </tbody>
            </table>
        </div>							
    </div>

    <div class="left bar" id="edit_graph_div" style="pointer-events: auto;">
        <!-- get flask flash messages-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="btn-group" role="group" style="margin-left: 20px;">
            <button id="btn-edit-node" class="btn btn-outline-primary" onclick="editNodes()"> Edit Nodes </button>
            <button id="btn-edit-edge" class="btn btn-outline-primary" onclick="editEdges()"> Edit Edges </button>
        </div>
        <br><br>
        <!-- <div id="edit-nodes" class="bg-left-block rounded shadow-sm" style="display: none"> -->
        <div id="edit-nodes" class="content-section" style="display: none">
            <h4>Add/Edit/Delete Node</h4>
            <form action="/editGraph", method="POST">
                <div class="form-group">
                    <label> Node name: </label> 
                    {{form_node.node_name(class="form-control")}}
                </div>
                <div class="form-group">
                    <label> Category: </label>
                    {{form_node.category(class="form-control")}}
                </div>
                <div class="form-group">
                    <label> Url: </label>
                    {{form_node.url(class="form-control")}}
                </div>
                <div class="form-group">
                    <label> Content: </label> 
                    {{form_node.content(class="form-control", cols="20", rows="5")}}
                </div>
                <div class="form-group">
                    <label> Notes: </label>
                    {{form_node.notes(class="form-control", cols="20", rows="5")}}
                </div>
                <div class="btn-group" role="group">
                    {{form_node.add_node(class="btn btn-success btn-sm")}}
                    {{form_node.edit_node(class="btn btn-primary btn-sm")}}
                    {{form_node.delete_node(class="btn btn-danger btn-sm")}}
                </div> 
            </form>
        </div>
        <div id="edit-edges" class="content-section" style="display: none">
            <h4>Add/Edit/Delete Edge</h4>
            <form action="/editGraph", method="POST">
                <div class="form-group">
                    <label> ID(key): </label>
                    {{form_edge.key_num(class="form-control")}}
                </div>
                <div class="form-group">
                    <label> Source name: </label>
                    {{form_edge.source_name(class="form-control")}}
                </div>
                <div class="form-group">
                    <label> Target name: </label>
                    {{form_edge.target_name(class="form-control")}}
                </div>
                <div class="form-group">
                    <label> Relationship: </label>
                    {{form_edge.relationship(class="form-control")}}
                </div>
                <div class="form-group">
                    <label> Content: </label>
                    {{form_edge.content(class="form-control", cols="20", rows="5")}}
                </div>
                <div class="form-group">
                    <label> Notes: </label>
                    {{form_edge.notes(class="form-control", cols="20", rows="5")}}
                </div>
                <div class="btn-group" role="group">
                    {{form_edge.add_edge(class="btn btn-success btn-sm")}}
                    {{form_edge.edit_edge(class="btn btn-primary btn-sm")}}
                    {{form_edge.delete_edge(class="btn btn-danger btn-sm")}}
                </div>
            </form>
        </div>
        <br>
    </div>
</div>
{% endblock %}