{% extends "template.html" %}

{% block search %}
    <ul id="autocomplete">
    </ul>
{% endblock %}

{% block content %}
<div class='main' >
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 89%; height: 90%; top: 60px; left: 200px; position:absolute"></div>
    <!-- <script src="simple-demo.js"></script> -->
    <script src="{{ url_for('static', filename='js/middle-school-json.js')}}"></script>
    <div class="right bar" id="details" style="pointer-events:auto;">
        <!-- <div id="nodeInfo" class="content-section"> -->
        <div id="ItemInfo">
            <h2 id = "Info Title"></h2>
            <table class="table" id="node info">
                <thead>
                    <tr id = 'Info Head'></tr>
                </thead>
                <tbody id="node info tbody">
                    <!-- display node info here -->
                </tbody>
            </table>
        </div>				
    </div>
    <div class="left bar" id="edit_graph_div" style="pointer-events: auto;">
        <div class="content-section">
            <h4>Graph Summary</h4>
            <p>{{graph_info[0]}}</p>
            <p>{{graph_info[1]}}</p>
            <p>{{graph_info[2]}}</p>
        </div>
    </div>
    
</div>
{% endblock %}