{% extends "template.html" %}

{% block content %}
    <section class="container" style="margin-bottom: 200px">
        <section>
            <div style="background: white; padding-top: 30px">
                <div class="row">
                    <div class="col-md-12">
                        <div style="text-align: center; margin-top: 30px">
                            <img class="img-responsive" id="main-logo" src="{{url_for('static', filename='img/open-book-256.png')}}" alt="mathKG logo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div style="text-align: center; padding-bottom: 32px">
                    <h4>
                        Math Knowledge Graph is a middle school math knowledge visualization project
                    </h4>
                </div>
            </div>
        </section>
        <section>
            <div style="background-color: #f5f5f5">
                <div class="container">
                    <div class="row">
                        <div style="float: left; width: 55%;">
                            <img class="img-responsive" src="{{url_for('static', filename='img/how-it-looks.png')}}" alt="mathKG overview">
                        </div>
                        <div style="width: 45%">
                            <h3>MathKG: Redefine Text Knowledge</h3>
                            <h5>
                                MathKG is a web-based interactive knowledge graph application. 
                                <br>
                                MathKG is light-weight, scalable, responsive: able to represent more than a thousand nodes and their edges, and allow each user to edit their own graph.
                            </h5>
                            <div class="button-container; text-align:center">
                                <a class="btn btn-success" href="/editGraph">Try it now</a>
                                <a class="btn btn-success" href="/register">Register</a>
                                <a class="btn btn-success" href="/login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}