<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}
    <title>Math KG - {{title}}</title>
    {% else %}
    <title>Math KG</title>
    {% endif %}

    <!-- import css files -->
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        html, body {height:100%;margin:0;padding:0;}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gexfjs.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-1.10.3.custom.min.css')}}">
    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='favicon.png')}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- 引入 echarts.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='srcjs/echarts-gl.min.js')}}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/extension/dataTool.min.js"></script>

    <script type="text/javascript">
        // Fallback in case JQuery CDN isn't available
            if (typeof jQuery == 'undefined') {
                document.write(unescape("%3Cscript type='text/javascript' src='js/jquery-3.4.1.min.js'%3E%3C/script%3E"));
            }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.3.custom.min.js')}}"></script>

    <!-- add mathjax for latex support -->
    <!-- <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
        });
    </script>
    <script type="text/javascript" async src="path-to-mathjax/Mathjax.js?config=Tex-AMS_CHTML"></script> -->
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async>
    </script>

    <!-- import bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        function editNodes() {
            var x = document.getElementById("edit-nodes")
            var y = document.getElementById("edit-edges")
            var btn_nodes = document.getElementById("btn-edit-node")
            var btn_edges = document.getElementById("btn-edit-edge")
            if(x.style.display == "none"){
                x.style.display = "block";
                y.style.display = "none";
                btn_nodes.className = "btn btn-primary"
                btn_edges.className = "btn btn-outline-primary"
            } else {
                x.style.display ="none" ;
                btn_nodes.className = "btn btn-outline-primary"
            }
        }
        
        function editEdges() {
            var x = document.getElementById("edit-edges")
            var y = document.getElementById("edit-nodes")
            var btn_nodes = document.getElementById("btn-edit-node")
            var btn_edges = document.getElementById("btn-edit-edge")
            if (x.style.display == "none") {
                x.style.display = "block";
                y.style.display = "none";
                btn_nodes.className = "btn btn-outline-primary"
                btn_edges.className = "btn btn-primary"
            } else {
                x.style.display = "none";
                btn_edges.className = "btn btn-outline-primary"
            }
        }

    </script>

</head>
<body>
    <!-- bloc-content-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #92edf0f1;" id="titlebar">
        <a class="navbar-brand" href="/">
            <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
            <img src="{{url_for('static', filename='favicon.png')}}" width="30" height="30" class="d-inline-block align-top" alt="">
            Math KG
            <!-- <span> Math KG </span> -->
        </a>
        <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/editGraph">Edit Graph</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/static/data/graph_from_mongodb.json" download="rawdata.json">Download Rawdata</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
        <form id="recherche">
            <input id="searchinput" class="form-control mr-sm-2 grey" type="search" placeholder="Search Node (top 20 matches)" aria-label="Search" autocomplete="off" />
            <input id="searchsubmit" type="submit" />
        </form>
        <div class="profile">
            {% if current_user.is_authenticated %}
            <span id="user profile" style="font-size: 15px; margin-right: 10px">{{current_user.get_id()}}</span>
            <a href="/logout" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Logout</a>
            {% else %}
            <a href="/login" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Login</a>
            {% endif %}
        </div>
    </nav>
    <!-- bloc-content-->
    {% block search %}{% endblock search%}
    {% block content %}{% endblock content%}
    
</body>
</html>