<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}
    <title>Math KG - {{title}}</title>
    {% else %}
    <title>Math KG</title>
    {% endif %}

    <!-- import css files -->
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        html, body {height:100%;margin:0;padding:0;}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gexfjs.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-1.10.3.custom.min.css')}}">
    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='favicon.png')}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- 引入 echarts.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/extension/dataTool.min.js"></script>

    <script type="text/javascript">
        // Fallback in case JQuery CDN isn't available
            if (typeof jQuery == 'undefined') {
                document.write(unescape("%3Cscript type='text/javascript' src='js/jquery-3.4.1.min.js'%3E%3C/script%3E"));
            }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.3.custom.min.js')}}"></script>

    <!-- add mathjax for latex support -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 89%; height: 90%; top: 60px; left: 200px"></div>
    <!-- <script src="simple-demo.js"></script> -->
    <script src="{{ url_for('static', filename='js/middle-school-json.js')}}"></script>
    <div class="aside right_bar" id="details" style="pointer-events:auto;">
        <div id="nodeInfo" style="pointer-events:auto;">
            <h2>Item Info</h2> 
            <table class="table" id="node info">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody id="node info tbody">
                    <!-- display node info here -->
                </tbody>
            </table>
        </div>				
    </div>
    <div class="aside left_bar" id="edit_graph_div" style="pointer-events: auto;">
        <div>
            <h3>Graph Summary</h3>
            <p>{{graph_info[0]}}</p>
            <p>{{graph_info[1]}}</p>
            <p>{{graph_info[2]}}</p>
        </div>
        <div>
            <h4>Add/Edit/Delete Node</h4>
            <form action="/editGraph", method="POST">
                <div class="form-group">
                    <label> Node name: </label> 
                    {{form_node.node_name(class="form-control")}}
                </div>
                <div class="form-group">
                    <label> Category: </label>
                    {{form_node.category(class="form-control")}}
                </div>
                <div class="form-group">
                    <label> Url: </label>
                    {{form_node.url(class="form-control")}}
                </div>
                <div class="form-group">
                    <label> Content: </label> 
                    {{form_node.content(class="form-control", cols="20", rows="5")}}
                </div>
                <div class="form-group">
                    <label> Notes: </label>
                    {{form_node.notes(class="form-control", cols="20", rows="5")}}
                </div>
                <div class="btn-group" role="group">
                    {{form_node.add_node(class="btn btn-success btn-sm")}}
                    {{form_node.edit_node(class="btn btn-primary btn-sm")}}
                    {{form_node.delete_node(class="btn btn-danger btn-sm")}}
                </div> 
            </form>
        </div>
        <div>
            <h4>Add/Edit/Delete Edge</h4>
            <form action="/editGraph", method="POST">
                <div class="form-group">
                    <label> ID(key): </label>
                    {{form_edge.key_num(class="form-control")}}
                </div>
                <div class="form-group">
                    <label> Source name: </label>
                    {{form_edge.source_name(class="form-control")}}
                </div>
                <div class="form-group">
                    <label> Target name: </label>
                    {{form_edge.target_name(class="form-control")}}
                </div>
                <div class="form-group">
                    <label> Relationship: </label>
                    {{form_edge.relationship(class="form-control")}}
                </div>
                <div class="form-group">
                    <label> Content: </label>
                    {{form_edge.content(class="form-control", cols="20", rows="5")}}
                </div>
                <div class="form-group">
                    <label> Notes: </label>
                    {{form_edge.notes(class="form-control", cols="20", rows="5")}}
                </div>
                <div class="btn-group" role="group">
                    {{form_edge.add_edge(class="btn btn-success btn-sm")}}
                    {{form_edge.edit_edge(class="btn btn-primary btn-sm")}}
                    {{form_edge.delete_edge(class="btn btn-danger btn-sm")}}
                </div>
            </form>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;" id="titlebar">
        <a class="navbar-brand" href="/">
            <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
            <img src="{{url_for('static', filename='favicon.png')}}" width="30" height="30" class="d-inline-block align-top" alt="">
            Math KG
            <!-- <span> Math KG </span> -->
        </a>
        <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/static/data/graph_from_mongodb.json" download="rawdata.json">rawdata</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/authors">People</a>
            </li>
        </ul>
        <form id="recherche">
            <input id="searchinput" class="form-control mr-sm-2 grey" type="search" placeholder="Search Node (top 20 matches)" aria-label="Search" autocomplete="off" />
            <input id="searchsubmit" type="submit" />
        </form>
    </nav>
    <ul id="autocomplete">
    </ul>
</body>
</html>

